@tailwind base;
@tailwind components;
@tailwind utilities;


#logo .svg {
	fill: url('#grad8');
}

.typed-cursor {
	display: inline-block;
	opacity: 1;

	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
	position: absolute;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.grad1 {
	background: #00C9FF;
	background: -webkit-linear-gradient(to left, #00C9FF, #92FE9D);
	background: linear-gradient(to left, #00C9FF, #92FE9D);
}

/* LOGO */
@keyframes animatedTextGradient {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}

.jv-logo {
	font-size: clamp(2.8rem, 1.5vw, 3rem);
	margin: 5px;
	background: linear-gradient(45deg,
			#3a7bd5 10%,
			#C9FFBF 20%,
			#f857a6 30%,
			#2BC0E4 40%,
			#ef32d9 55%,
			#C9FFBF 70%,
			#ff4e50 80%,
			#3a7bd5 95%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 500% auto;
	animation: animatedTextGradient 20s ease-in-out infinite alternate;
}

.quote-gradient{
	position: absolute;
	top:0;
	left:-5px;
	height:7rem;
	line-height:15rem;
	font-size: clamp(20rem, 1.5vw, 20rem);
	margin: 5px;
	fill: linear-gradient(45deg,
			#3a7bd5 10%,
			#C9FFBF 20%,
			#f857a6 30%,
			#2BC0E4 40%,
			#ef32d9 55%,
			#C9FFBF 70%,
			#ff4e50 80%,
			#3a7bd5 95%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 500% auto;
	animation: animatedTextGradient 20s ease-in-out infinite alternate;
}

/* WORK GALLERY */
.gallery-tile {
	overflow: hidden;
}

.gallery-tile__overlay {
	transition: all .3s ease-in-out;
	width: 100%;
	background: linear-gradient(to bottom,
	rgba(0, 0, 0, 0) 0%,
	rgba(0, 201, 255, 0.9) 60%);

}

.gallery-tile:hover .gallery-tile__overlay,
.gallery-tile:focus .gallery-tile__overlay {
	opacity: 1;
}

.gallery-tile__overlay--title {
	position: relative;
	transition: all .15s;
	text-shadow: -2px 2px 0px #FF2300;
}

.gallery-tile:hover .gallery-tile__overlay--title,
.gallery-tile:focus .gallery-tile__overlay--title {
	transition-delay: 0.3s;
	top: 38%;
}

.h-screen-calc{
	min-height:calc(100vh - 64px);
}